body {
    background-image: url("../graphics/cobweb-3725540_1920.jpg");
    background-color: aquamarine;
    background-size: 100%;
    background-attachment: fixed;
    
}

div.container {
    width: 80%;
    margin: auto;
    padding: 0 15px;
}


div.main_content {
    width: 70%;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}

div.sidebar {
    width: 25%;
    float: left;
    margin-bottom: 15px;
}

div.content {
    overflow: auto;
}

header, .main_content, .sidebar, .footer {
    background: rgba(255, 255, 255, 0.6);
    padding: 10px;
}

header {
    width: 100%;
    margin-bottom: 15px;
}

footer {
    margin-top: 15px;
}

article {
    text-align: justify;
}

.nav_menu {
    list-style: none;
    overflow: auto;
}

.nav_menu li {
    margin-right: 15px;
    text-align: center;
    float: left;
    width: 80px;
    height: 20px;
    background: rgba(255, 255, 255, 0.6)
    
}

form {
    padding: 15px;
}

form div.row {
    width: 100%;
    margin: auto;
    margin-bottom: 10px;

}

form label {
    width: 25%;
    text-align: end;
    float: left;
    margin-right: 20px;
}

div.gallery figure {
    float: left;
    width: 180px;
    height: 140px;
}

div.gallery img {
    width: 100%;
}

.welcome_image {
    width: 30%;
}

.welcome_image img {
    width: 100%;
}
